= render layout: 'widgit/components/component', locals: { component: header } do
  = content_tag "h#{header.level}", class: "component-header text-align-#{header.text_align}", data: { editor: 'text' } do
    = raw header.text
